<div class="px-[50px] bg-[#fff]">
  <div class="">
    <!-- Bread crumb -->
    <div class="text-xs whitespace-nowrap">
      <div class="py-4">
        <div class="inline-block">
          <a href="/" class="text-[#999] hover:underline hover:text-black"
            >Trang chủ</a
          >
        </div>
        <div
          class="inline-block before:content-['/'] before:px-2 before:text-[#999]"
        >
          <a href="#" class="text-black">Quần áo nữ</a>
        </div>
      </div>
    </div>

    <!-- Filter -->
    <div class="flex justify-end items-center mb-[15px] h-[40px] text-xs">
      <label class="px-[22px]">Sắp xếp theo</label>
      <select
        [(ngModel)]="searchParams.sort"
        (ngModelChange)="changeSort()"
        class="w-[200px] border border-solid border-gray-300 focus:border-black focus:outline-none text-sm px-3 py-1.5"
      >
        <option [ngValue]="1">Hàng mới</option>
        <option [ngValue]="2">Bán chạy</option>
        <option [ngValue]="3">Giảm nhiều</option>
        <option [ngValue]="4">Giá thấp đến cao</option>
        <option [ngValue]="5">Giá cao đến thấp</option>
      </select>
    </div>
  </div>

  <div class="flex relative">
    <!-- Filter -->
    <div class="absolute left-0 -top-[40px] w-[190px]">
      <a
        routerLink="/search"
        class="flex justify-center items-center h-[36px] w-full text-[13px] px-[30px] font-extrabold border border-black text-black bg-white hover:bg-[rgba(34,34,34,.8)] hover:text-white"
      >
        Xóa tất cả
      </a>
    </div>

    <app-sidebar [searchParams]="searchParams"></app-sidebar>

    <!-- <app-product></app-product> -->

    <!-- List of Product -->
    <div class="flex-1 pl-[20px]">
      <div class="flex flex-wrap -mx-[10px]">
        <!-- Normal -->
        <ng-container *ngIf="loading">
          <app-product-loading class="card w-1/4 px-[10px]"
            *ngFor="let item of [].constructor(8)"
          ></app-product-loading>
        </ng-container>

        <ng-container *ngIf="!loading">
          <app-product class="w-1/4 px-[10px]"
            *ngFor="
              let p of products
                | paginate
                  : {
                      itemsPerPage: searchParams.page_size,
                      currentPage: searchParams.page,
                      totalItems: total_row
                    }
            "
            [product]="p"
          ></app-product>
        </ng-container>
      </div>

      <div class="flex justify-end">
        <pagination-controls
          class="my-pagination"
          previousLabel=""
          nextLabel=""
          (pageChange)="pageChanged($event)"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>
