<div class="cover skeleton w-full pb-[132%]"></div>
<div class="min-h-[116px]">
  <p class="mt-2 h-4 w-4/5 skeleton"></p>
  <p class="mt-[6px] w-3/4 h-5 skeleton"></p>
  <div class="flex mt-[6px]">
    <p class="w-[25px] h-[25px] mr-2 rounded-full skeleton"></p>
    <p class="w-[25px] h-[25px] mr-2 rounded-full skeleton"></p>
    <p class="w-[25px] h-[25px] mr-2 rounded-full skeleton"></p>
    <p class="w-[25px] h-[25px] mr-2 rounded-full skeleton"></p>
    <p class="w-[25px] h-[25px] mr-2 rounded-full skeleton"></p>
  </div>
</div>
