/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
      font-family: 'Open Sans', sans-serif;
  }
  * {
      box-sizing: border-box;
  }
}

@import "~boxicons/css/boxicons.min.css";

img {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

/* add to img on load event */
.animate {
  animation: animate 1s ease;
}

@keyframes animate {
  from {
      transform: rotateX(20deg);
      opacity: 0;
  }
  to {
      transform: rotateX(0deg);
      opacity: 1;
  }
}

/* skeleton elements */
.skeleton {
  background: linear-gradient(
      90deg,
      hsl(210, 15%, 88%),
      hsl(210, 15%, 95%),
      hsl(210, 15%, 88%)
  );
  background-size: 200%;
  animation: loader 1s infinite reverse;
}

/* skeleton animation */
@keyframes loader {
  from {
      background-position: -100% 0;
  }
  to {
      background-position: 100% 0;
  }
}

/* Scrollbar */
.scrollbar::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  width: 2px;
  background-color: transparent;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #fa6338;
}

/* Loading */
.loading {
  position: fixed;
  display: flex;
  z-index: 1000;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.loading.hidden {
  opacity: 0;
  visibility: hidden;
  animation: fadeOut 0.5s linear;
}

.loading img {
  width: 100px;
  margin: auto;
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

img {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}



/* Pagination */
// .left-option {
//   display: flex;
//   justify-content: space-between;
// }

// .button-add {
//   height: 36px;
//   width: 80px;
//   margin-right: 12px;
// }

// .pagination {
//   display: inline-block;
//   padding-left: 0;
//   margin: 20px 0;
//   border-radius: 4px;
// }

// .pagination > li {
//   display: inline;
// }

// .pagination > li > a,
// .pagination > li > span {
//   position: relative;
//   width: 36px;
//   height: 36px;
//   border-radius: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   float: left;
//   color: black;
//   text-decoration: none;
//   background-color: #fff;
//   font-size: 16px;
// }

// .pagination > li:first-child > a,
// .pagination > li:first-child > span {
//   margin-left: 0;
//   border-radius: 100%;
// }

// .pagination > li:last-child > a,
// .pagination > li:last-child > span {
//   border-radius: 100%;
// }

// .pagination > li > a:hover,
// .pagination > li > span:hover,
// .pagination > li > a:focus,
// .pagination > li > span:focus {
//   z-index: 2;
//   color: black;
//   background-color: #eee;
//   border-color: #ddd;
// }

// .pagination > .active > a,
// .pagination > .active > span,
// .pagination > .active > a:hover,
// .pagination > .active > span:hover,
// .pagination > .active > a:focus,
// .pagination > .active > span:focus {
//   z-index: 3;
//   color: #fff;
//   cursor: default;
//   background-color: black;
//   border-color: black;
// }

// .pagination > .disabled > span,
// .pagination > .disabled > span:hover,
// .pagination > .disabled > span:focus,
// .pagination > .disabled > a,
// .pagination > .disabled > a:hover,
// .pagination > .disabled > a:focus {
//   color: #777;
//   cursor: not-allowed;
//   background-color: #fff;
//   border-color: #ddd;
// }

// .pagination-lg > li > a,
// .pagination-lg > li > span {
//   padding: 10px 16px;
//   font-size: 1.5rem;
//   line-height: 1.3333333;
// }

// .pagination-lg > li:first-child > a,
// .pagination-lg > li:first-child > span {
//   border-top-left-radius: 6px;
//   border-bottom-left-radius: 6px;
// }

// .pagination-lg > li:last-child > a,
// .pagination-lg > li:last-child > span {
//   border-top-right-radius: 6px;
//   border-bottom-right-radius: 6px;
// }

// .pagination-sm > li > a,
// .pagination-sm > li > span {
//   padding: 5px 10px;
//   font-size: 1.5rem;
//   line-height: 1.5;
// }

// .pagination-sm > li:first-child > a,
// .pagination-sm > li:first-child > span {
//   border-top-left-radius: 3px;
//   border-bottom-left-radius: 3px;
// }

// .pagination-sm > li:last-child > a,
// .pagination-sm > li:last-child > span {
//   border-top-right-radius: 3px;
//   border-bottom-right-radius: 3px;
// }

// .pager {
//   padding-left: 0;
//   margin: 20px 0;
//   text-align: center;
//   list-style: none;
// }

// .pager li {
//   display: inline;
// }

// .pager li > a,
// .pager li > span {
//   display: inline-block;
//   padding: 5px 14px;
//   background-color: #fff;
//   border: 1px solid #ddd;
//   border-radius: 15px;
// }

// .pager li > a:hover,
// .pager li > a:focus {
//   text-decoration: none;
//   background-color: #eee;
// }

// .pager .next > a,
// .pager .next > span {
//   float: right;
// }

// .pager .previous > a,
// .pager .previous > span {
//   float: left;
// }

// .pager .disabled > a,
// .pager .disabled > a:hover,
// .pager .disabled > a:focus,
// .pager .disabled > span {
//   color: #777;
//   cursor: not-allowed;
//   background-color: #fff;
// }

// .page-number {
//   text-align: center;
//   width: 100px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: #fff;
//   height: 30px;
//   border: 1px solid #e5e5e5;
// }

// .head-option {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }
